<pre align="center">
<--------------------------------------------------------------------------->
<--                             | CHANGELOG |                             -->
<--------------------------------------------------------------------------->
<a href="https://acidjs.com" target="_blank">AcidJS.com Documentation</a>
</pre>
---

{{#each releases}}
  {{#if href}}
    ### [{{title}}]({{href}}) 
    {{#if isoDate}} 
      DATE: {{isoDate}}
    {{/if}}
  {{else}}
    ### {{title}}
    {{#if isoDate}} 
      DATE: {{isoDate}}
    {{/if}}
  {{/if}}

  {{#if summary}}
    {{summary}}
  {{/if}}
  
  {{#if merges}}
    #### Merged

    {{#each merges}}
      - {{{message}}} {{#if href}}[`#{{id}}`]({{href}}){{/if}}
    {{/each}}
  {{/if}}

  {{#if fixes}}
    #### Fixed

    {{#each fixes}}
      - {{{commit.subject}}}{{#each fixes}} {{#if href}}[`#{{id}}`]({{href}}){{/if}}{{/each}}
    {{/each}}
  {{/if}}

  {{#commit-list commits heading='### Commits'}}
    - {{#if breaking}}**Breaking change:** {{/if}}{{{subject}}} {{#if href}}[`{{shorthash}}`]({{href}}){{/if}}
  {{/commit-list}}

  ---
{{/each}}